body {
    color: #f08080;
    background-color: #ffdab9;
    position: absolute;
    margin: 50px;
    padding: 0;
    
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
header{
    display: flex;
    justify-content: center;
    left: auto;
    grid-column: 1 / 3;
}
#results-display{
    display: flex;
    width: auto;
    justify-self: center;
    align-self: center;
    left: auto;
    justify-content: center;
    font-size: 2em;
    grid-column: 1/3;
}
#computer-decision{
    background-color: #f4978e;
}
#choices {
    width: 10em;
    justify-self: center;
    align-self: center;
}
#player-decision{
    background-color: #fbc4ab;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
#choices p{
    color: #a74d4d;
    background-color: #f8ad9d;
    line-height: 2em;
    width: 10em;
    border-radius: 30px;
}
#choices p:hover{
    animation-name: text-fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.move-display {
    width: 30em;
    height: 30em;
    justify-self: center;
    align-self: center;
    border-radius: 50%;
}
#computer-decision {
    display: flex;
    justify-content: center;
    align-content: center;
}
#computer-decision p{
    text-align: center;
    align-self: center;
    color: #a74d4d;
    background-color: #f08080;
    line-height: 2em;
    width: 10em;
    height: 2em;
    border-radius: 30px;
}
#trackers{
    position: relative;
    width: 10em;
    height: 5em;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #fbc4ab;
}
#rounds-tracker::before{
    content: "Rounds played: ";
}
#wins-tracker::before{
    content: "Rounds won: ";
}
@keyframes text-fade {
    100% {
        color: #fefefe;
    }
}